<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kim.security.aries.mapper.AriespermissionMapper">
  <resultMap id="BaseResultMap" type="com.kim.security.aries.model.Ariespermission">
    <!--@mbg.generated-->
    <!--@Table ariespermission-->
    <id column="permissionid" jdbcType="INTEGER" property="permissionid" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="menu" jdbcType="VARCHAR" property="menu" />
    <result column="menuName" jdbcType="VARCHAR" property="menuname" />
    <result column="menuBaseUrl" jdbcType="VARCHAR" property="menubaseurl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="menuIcon" jdbcType="VARCHAR" property="menuicon" />
  </resultMap>

    <resultMap id="BaseResultMapWithChildren" type="com.kim.security.aries.model.Ariespermission">
        <!--@mbg.generated-->
        <!--@Table ariespermission-->
        <id column="permissionid" jdbcType="INTEGER" property="permissionid" />
        <result column="parentid" jdbcType="INTEGER" property="parentid" />
        <result column="menu" jdbcType="VARCHAR" property="menu" />
        <result column="menuName" jdbcType="VARCHAR" property="menuname" />
        <result column="menuBaseUrl" jdbcType="VARCHAR" property="menubaseurl" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="menuIcon" jdbcType="VARCHAR" property="menuicon" />
        <collection property="children" column="permissionid" ofType="com.kim.security.aries.model.Ariespermission" select="getAllMenusChild"></collection>
    </resultMap>

    <resultMap id="BaseResultMapWithParent" type="com.kim.security.aries.model.Ariespermission">
        <!--@mbg.generated-->
        <!--@Table ariespermission-->
        <id column="permissionid" jdbcType="INTEGER" property="permissionid" />
        <result column="parentid" jdbcType="INTEGER" property="parentid" />
        <result column="menu" jdbcType="VARCHAR" property="menu" />
        <result column="menuName" jdbcType="VARCHAR" property="menuname" />
        <result column="menuBaseUrl" jdbcType="VARCHAR" property="menubaseurl" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="menuIcon" jdbcType="VARCHAR" property="menuicon" />
        <association property="parent" column="parentid" select="getMenuParent" javaType="com.kim.security.aries.model.Ariespermission"></association>
    </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    permissionid, parentid, menu, menuName, menuBaseUrl, create_time, update_time, menuIcon
  </sql>

  <select id="getUsersAllPermission" resultMap="BaseResultMapWithChildren">
    SELECT
            ap.*
    FROM
            `ariesUserManager` um
                    LEFT JOIN ariesuserroles ur on um.userid = ur.userid
                    LEFT JOIN ariesroles ar on ur.roleid = ar.roleid
                    LEFT JOIN ariesrolespermission rp on rp.roleid = ur.roleid
                    LEFT JOIN ariespermission ap on ap.permissionid = rp.permissionid
    where ap.parentid = 0
    and um.userid = #{userid}
  </select>

    <select id="getAllMenus" resultMap="BaseResultMapWithChildren">
        select <include refid="Base_Column_List"></include> from ariespermission where permissionid !=1
        and parentid = 0
    </select>

    <select id="getAllMenusChild" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from ariespermission where parentid = #{parentId}
    </select>

    <select id="getMenuParent" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>from ariespermission where permissionid = #{parentId}
    </select>
    
    <select id="initMenuData" resultMap="BaseResultMapWithParent">
        select <include refid="Base_Column_List"></include> from ariespermission order by create_time desc limit #{currentPage},#{pageSize}
    </select>

    <select id="initMenuDataWithSearch" resultMap="BaseResultMapWithParent">
        select <include refid="Base_Column_List"></include> from ariespermission
        where menuName like concat('%',#{search},'%')
        order by create_time desc limit #{currentPage},#{pageSize}
    </select>

    <select id="selectCountWithSearch" resultType="java.lang.Integer">
        select count(1) from ariespermission where menuName like concat('%',#{search},'%')
    </select>

    <select id="initMenuParentData" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from ariespermission where parentid = 0 and permissionid !=1
    </select>

    <update id="eiditorMenu" parameterType="com.kim.security.aries.model.Ariespermission">
        update ariespermission
        set menu = #{menu},
        menuBaseUrl = #{menubaseurl},
        <choose>
            <when test="parentid != null">
                parentid = #{parentid},
            </when>
            <otherwise>
                parentid = 0,
            </otherwise>
        </choose>

        <choose>
            <when test="menuicon != null">
                menuIcon = #{menuicon},
            </when>
            <otherwise>
                menuIcon = null,
            </otherwise>
        </choose>
        menuName = #{menuname}

        where permissionid = #{permissionid}
    </update>

    <select id="getRolePermission" resultMap="BaseResultMap">
        select ap.* from ariesroles ar
        LEFT JOIN ariesrolespermission rp on ar.roleid = rp.roleid
        LEFT JOIN ariespermission ap on rp.permissionid = ap.permissionid
        where ar.roleid = #{roleid}
    </select>

    <select id="getAllPermission" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from ariespermission
        where parentid = 0
    </select>

</mapper>